<!-- Intro Header -->
<header class="intro">
  <div class='content'>
    <div class='background-wrap'>
      <video id="video-bg-elem" preload='auto' autoplay='true' loop='loop' muted='muted'>
        <source src="./assets/spacex-hd.mp4" type="video/mp4"/>
        <source src="./assets/spacex-sd.mp4" type="video/mp4"/>
        <source src="./assets/spacex-mobile.mp4" type="video/mp4"/>
        Your Browser does not support the video tag
      </video>
    </div>
    <h1 class="brand-heading">Lance com Rails</h1>
    <h2 class="intro-text">Aplicativo básico para Start ups</h2>
    <p class="intro-text">Bower, Bootstrap, Jquery, Devise, SendGrid, Figaro</p>
    <!-- <p class="intro-text">Fonts</p> -->
    <a href="#about" class="btn btn-circle page-scroll">
      <i class="fa fa-angle-double-down animated"></i>
    </a>
  </div>
</header>



<!-- boser-->
<section class='bower'>
  <div class='content'>
      <h1 class="brand-heading">Bower</h1>
      <h2 class="intro-text">Gerenciador de Assets</h2>
      <p class="intro-text">Com Bootstrap e Jquery instalados</p>
      <a href="#about" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
      </a>
  </div>
</section>


<!-- bootstrap -->
<section class='bootstrap'>
  <div class='content'>
      <h1 class="brand-heading">Bootstrap</h1>
      <h2 class="intro-text">CSS na Caixa</h2>
      <p class="intro-text">Estilos básicos</p>
      <a href="#about" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
      </a>
  </div>
</section>

<!-- JQuery -->
<section class='jquery'>
  <div class='content'>
      <h1 class="brand-heading">JQuery</h1>
      <h2 class="intro-text">Animação.js</h2>
      <p class="intro-text">piriri pororo</p>
      <a href="#about" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
      </a>
  </div>
</section>

<!-- Devise -->
<section class='devise'>
  <div class='content'>
      <h1 class="brand-heading">Devise</h1>
      <h2 class="intro-text">Gerenciador de Usuário</h2>
      <p class="intro-text">Cadastro e login</p>
      <a href="#about" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
      </a>
  </div>
</section>

<!-- SendGrid -->
<section class='sendgrid'>
  <div class='content'>
      <h1 class="brand-heading">Emails</h1>
      <h2 class="intro-text">Gerenciador de Emails</h2>
      <p class="intro-text">Emails transacionais e de MKT</p>
      <a href="#about" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
      </a>
  </div>
</section>

<!-- Figaro -->
<section class='figaro'>
  <div class='content'>
      <h1 class="brand-heading">Figaro</h1>
      <h2 class="intro-text">Gerenciador de Senhas de Ambiente</h2>
      <p class="intro-text">Dev, Teste e Produção</p>
      <a href="#about" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
      </a>
  </div>
</section>

<!-- NameSpace -->
<section class='namespace'>
  <div class='content'>
      <h1 class="brand-heading">NameSpace</h1>
      <h2 class="intro-text">Administrador básico</h2>
      <p class="intro-text">Com usuários</p>
      <a href="#about" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
      </a>
  </div>
</section>
