<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <h1 class="brand-heading">Lance com Rails</h1>
              <h2 class="intro-text">Aplicativo básico para Start ups</h2>
              <p class="intro-text">Bower, Bootstrap, Jquery, Devise, SendGrid, Figaro</p>
              <a href="#about" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
              <video id="bgvid" autoplay loop muted='true'>
                <source src="./assets/videos/murmuration-hd.mp4" type="video/mp4"/>
                Your Browser does not support the video tag
              </video>
            </div>
          </div>
        </div>
    </div>
</header>
